body{ 
    margin: 0px;
    padding:0px;
    background-image: url("images/brahmins.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    
}
.content {
    display:flex;
    justify-content: flex-start;
    margin: 0px;
    padding: 0px;
    /*background: rgba(0,40,40,0.7);*/
    color: #f1f1f1;
    width: 100vw;
    height: 80px;
    background-color: #dd4b39;
}
.content img {
    margin-left:10px;
    margin-top:10px;   
    margin-bottom:10px;
    border-radius: 50%;
    width: 120px;
    height: 120px;

}
.content div{
    margin-left:10px;
    /*margin-top:10px;*/
}
.content h1{
    margin-top: 0px;
    font-size: 40px;

}
.content  h2{

    font-size:25px;
}
.container{
    display: flex;
    position: relative;
    width: 100vw;
    color: #f1f1f1;
    min-height: 80vh;
}
.navigation{
    margin: 0;
    display: inline;
    width: 12vw;
    background: rgba(0, 0, 0, 0.5);
    min-height: 80vh;
}
.home
{
    color: #f1f1f1;
    display: inline;
    width: 75vw;
    text-align: center;
    font-size:25px;
    background: rgba(0, 0, 0, 0.7);
    min-height: 80vh;
}
.home p
{
    text-align: justify;
    padding: 10px;
}
.news
{
    margin-top: 0;
    display: inline;
    width: 13vw;
    min-height: 100%;
    background: rgba(0, 0, 0, 0.5);
}
.news ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
.news h2
{
    margin-top: 0px;
    color: red;
    font-size: 40px;
}
.navigation ul 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
} 

.navigation ul li a 
{
    display:block;
    color: #fff;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 1.4em;

}

/* Change the link color on hover */
li a:hover {
    background-color:rgb(143, 9, 9);
    color: white;
}


.home p{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 0px;
}
hr{
    box-sizing: border-box;
    /* padding: 2px 5px 2px 5px;  */
}
.icon-bar{
    background: rgba(0,0,0,0.7);
    display: flex;
    justify-content: flex-end;
}
.logo{
    margin:0px;
    width: 100vw;
    height: 12vh;
    display: flex;
    background-color: #1a1a1a;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}
.logo a {
    height: 16px;
}

.mts-logo {
    margin-top: -19px; 
    height: 55px;
    width: 120px;
    margin-left: -50px;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}
.fa-twitter {
    background: #55ACEE;
    color: white;
}
.fa-google {
    background: #dd4b39;
    color: white;
}



* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}